.dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
    border: 1px dashed #00d1b2;
    background-color: #f6fbfe;
    font-size: 1.4em;
    cursor: pointer;
}

.button h2 {
    display: inline-flex;
    align-items: center;
}

.button svg {
    width: 15px;
    height: 15px;
    opacity: 0.5;
    margin-left: 4px;
}

.button-card {
    display: block;
    height: auto;
}

.navbar {
    justify-content: center;
}

.logo {
    margin-right: 10px;
}

.section.is-small {
    padding: 1rem;
}